In [2]:
import pandas as pd
import numpy as np

from seaborn import load_dataset
diamonds=load_dataset('diamonds')
diamonds.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

# 유용한 함수

## 같은지 검사

In [11]:
# Analysis 예측값에 대한 재현성을 검사할때 유용하다. 
# df1 과 df2 에 대해서 두 pandas set 이 같은지 아닌지에 대해서 검사한다.
# 맞으면 True / 틀리면 False 를 나타낸다.
df1 = diamonds.copy()
df2 = df1
df1.equals(df2)

True

# Query

## 기본 성질

- 판다스에서 조건에 부합하는 데이터를 추출할 때에 매우 많이 사용한다.
- 장점 : loc 보다 가속성이 훨씬 좋다. , 메모리를 적게 먹는다.
- 단점 : loc 이랑 속도가 비슷~하다.
- Query 를 쓰는 이유는 메모리를 save 하기 위함이라고 생각하자. (아직까지 연산에서 메모리가 모자라는 지경까지 큰 데이터를 다룬적이 없어서 잘은 모르겠다.)
- 사실 Query 로 다 해결하려고 하지 말고, 간단한 연산 정도를 직관적으로 빠르게 해걀한다는 마음가짐으로 처리하자.

In [12]:
from string import ascii_letters
df = pd.DataFrame(np.random.randint(50, size=(5000, 52)), columns=list(ascii_letters))

In [13]:
%%timeit -n 100 -r 5 
df[df.B > 30]

383 µs ± 70.3 µs per loop (mean ± std. dev. of 5 runs, 100 loops each)

In [14]:
%%timeit -n 100 -r 5 
df[df.B.values > 30]

234 µs ± 35.6 µs per loop (mean ± std. dev. of 5 runs, 100 loops each)

In [15]:
%%timeit -n 100 -r 5 
df.query('B > 30')

1.91 ms ± 119 µs per loop (mean ± std. dev. of 5 runs, 100 loops each)

Query 함수는 아래 6가지 기능을 포함하고 있다. 

1) 비교 연산자( ==, >, >=, <, <=, != )

2) in 연산자( in, ==, not in, != )

3) 논리 연산자(and, or, not)

4) 외부 변수(또는 함수) 참조 연산

5) 인덱스 검색

6) 문자열 부분검색( str.contains, str.startswith, str.endswith )

## 비교(> = < !) 연산

In [18]:
df = diamonds.copy()

In [19]:
df.query('x>10')

       carat        cut color clarity  depth  table  price      x      y     z
25998   4.01    Premium     I      I1   61.0   61.0  15223  10.14  10.10  6.17
25999   4.01    Premium     J      I1   62.5   62.0  15223  10.02   9.94  6.24
26444   4.00  Very Good     I      I1   63.3   58.0  15984  10.01   9.94  6.31
27415   5.01       Fair     J      I1   65.5   59.0  18018  10.74  10.54  6.98
27630   4.50       Fair     J      I1   65.8   58.0  18531  10.23  10.16  6.72

## 조건문

In [20]:
# 두개는 같은 의미
df.query('carat in [2,2.5]')
df.query('carat == [2,2.5]')

       carat        cut color clarity  depth  table  price     x     y     z
11634    2.0    Premium     J      I1   61.5   59.0   5051  8.11  8.06  4.97
13929    2.0       Fair     I      I1   66.0   60.0   5667  7.78  7.74  5.10
14645    2.0       Fair     H      I1   69.8   54.0   5914  7.60  7.56  5.29
15861    2.0    Premium     H      I1   59.7   62.0   6344  8.19  8.02  4.85
16298    2.0       Good     J      I1   63.6   62.0   6521  7.97  7.80  5.02
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
27683    2.0  Very Good     E     SI1   60.5   59.0  18709  8.09  8.14  4.94
27729    2.0  Very Good     F     SI1   57.9   60.0  18759  8.28  8.34  4.81
27743    2.0    Premium     I     VS1   60.8   59.0  18795  8.13  8.02  4.91
27745    2.0  Very Good     H     SI1   62.8   57.0  18803  7.95  8.00  5.01
27748    2.0  Very Good     G     SI1   63.5   56.0  18818  7.90  7.97  5.04

[282 rows x 10 columns]

In [21]:
df.query('carat not in [2,3]')

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53667 rows x 10 columns]

In [48]:
# and 를 주면  몇개의 조건들을 엮을 수 있다.
df.query('carat == [2,2.1] & price > 15000')

       carat        cut color clarity  depth  table  price     x     y     z
25887    2.1    Premium     I     SI1   61.5   57.0  15007  8.25  8.21  5.06
25895    2.0  Very Good     I     VS2   63.5   59.0  15025  7.98  7.93  5.05
25905    2.1      Ideal     H     SI1   61.7   53.0  15035  8.30  8.19  5.09
25908    2.0      Ideal     I     SI1   62.8   56.0  15043  8.04  7.95  5.02
25912    2.0  Very Good     I     SI1   59.8   59.0  15053  8.12  8.17  4.87
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
27683    2.0  Very Good     E     SI1   60.5   59.0  18709  8.09  8.14  4.94
27729    2.0  Very Good     F     SI1   57.9   60.0  18759  8.28  8.34  4.81
27743    2.0    Premium     I     VS1   60.8   59.0  18795  8.13  8.02  4.91
27745    2.0  Very Good     H     SI1   62.8   57.0  18803  7.95  8.00  5.01
27748    2.0  Very Good     G     SI1   63.5   56.0  18818  7.90  7.97  5.04

[145 rows x 10 columns]

## 외부 변수 참조 연산

In [50]:
# 외부 변수를 참조하고 싶을 경우 골뱅이@ 를 변수 앞에 넣어주어야 한다.
lis = [2,2.1,2.2,2.3,2.4,2.5,2.6,2.7,2.8,2.9]
df.query('carat == @lis & price > 15000')

       carat        cut color clarity  depth  table  price     x     y     z
25887    2.1    Premium     I     SI1   61.5   57.0  15007  8.25  8.21  5.06
25895    2.0  Very Good     I     VS2   63.5   59.0  15025  7.98  7.93  5.05
25900    2.8    Premium     I     SI2   61.1   59.0  15030  9.03  8.98  5.50
25905    2.1      Ideal     H     SI1   61.7   53.0  15035  8.30  8.19  5.09
25908    2.0      Ideal     I     SI1   62.8   56.0  15043  8.04  7.95  5.02
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
27729    2.0  Very Good     F     SI1   57.9   60.0  18759  8.28  8.34  4.81
27739    2.8       Good     G     SI2   63.8   58.0  18788  8.90  8.85  0.00
27743    2.0    Premium     I     VS1   60.8   59.0  18795  8.13  8.02  4.91
27745    2.0  Very Good     H     SI1   62.8   57.0  18803  7.95  8.00  5.01
27748    2.0  Very Good     G     SI1   63.5   56.0  18818  7.90  7.97  5.04

[199 rows x 10 columns]

In [69]:
df

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

# eval

- 위의 Query 문은 각 변수들에 대해서 '조건' 에 맞는 변수들을 만들어 냈다
- 하지만 eval 문은 각 변수들에 대해 '연산' 을 쉽게 수행해준다.

## 기본 성질

- pandas.eval(expr, inplace=False) 의 형태를 가진다.
- 수치 연산을 입력하면 숫자 데이터 타입의 Series가 나온다.
- 기본적으로 퍼포먼스가 일반적 연산보다 빠르다고.. 하지만 어느정도 비슷한 상황이 많이 나와서 굳이 쓰는것은 잘 모르겠다
- 이 경우도 퀴리와 같이 메모리를 save 하는데에 그 의의가 있다.

In [106]:
nrows, ncols = 100000, 100
rng = np.random.RandomState(42)
df1, df2, df3, df4 = (pd.DataFrame(rng.rand(nrows, ncols))
                      for i in range(4))

In [107]:
%%timeit -n 10 -r 3 
df1 + df2 + df3 + df4

124 ms ± 6.16 ms per loop (mean ± std. dev. of 3 runs, 10 loops each)

In [108]:
%%timeit -n 10 -r 3 
pd.eval('df1 + df2 + df3 + df4')

123 ms ± 2.88 ms per loop (mean ± std. dev. of 3 runs, 10 loops each)

## 기본 연산

In [111]:
df1, df2, df3, df4, df5 = (pd.DataFrame(rng.randint(0, 1000, (100, 3)))
                           for i in range(5))

In [112]:
result1 = -df1 * df2 / (df3 + df4) - df5
result2 = pd.eval('-df1 * df2 / (df3 + df4) - df5')
np.allclose(result1, result2)

True

## 비교 및 조건 연산

In [113]:
result1 = (df1 < df2) & (df2 <= df3) & (df3 != df4)
result2 = pd.eval('df1 < df2 <= df3 != df4')
np.allclose(result1, result2)

True

# 자주 맞딱뜨리는 예제

## 같은 범주끼리 연산 후 합치기

- 다이아몬드 데이터에 대해, color 별로 carat 의 mean 을 계산한 이후에 각 데이터 옆에다 붙이자.
- 통상적인 Regression 문제에서 변수를 늘리고자 할 때에 많이 맞딱뜨리는 경우이다.

In [29]:
df = diamonds.copy()
df

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

In [32]:
# transform 은 들어온 함수에 대해 각각 연산을 수행한 이후, sample 들은 살린다. 
# 그래서 옆에 데이터를 붙이려는 우리의 목적에 매우 부합하다.
# 이 때에 df['carat'] 의 데이터에 df['color'] 에 맞게 group by 를 해주는 것 이기 때문에 아래처럼 각각 columns 를 명시해 주어야 한다.
df['carat'].groupby(df['color']).transform(np.mean)

0        0.657867
1        0.657867
2        0.657867
3        1.026927
4        1.162137
           ...
53935    0.657795
53936    0.657795
53937    0.657795
53938    0.911799
53939    0.657795
Name: carat, Length: 53940, dtype: float64

In [36]:
df['carat_mean']= df['carat'].groupby(df['color']).transform(np.mean)

In [39]:
# 원하는 결과가 나온 모습
df

,carat,cut,color,clarity,depth,table,price,x,y,z,carat_mean
0,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,0.657867
1,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,0.657867
2,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,0.657867
3,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,1.026927
4,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,1.162137
...,...,...,...,...,...,...,...,...,...,...,...
53935,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50,0.657795
53936,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61,0.657795
53937,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56,0.657795
53938,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74,0.911799
53939,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64,0.657795

In [35]:
# 그냥 실행하게 된다면 아래와 같이 dataframe 을 color 로 모두 쪼갠 뒤에 transform 을 수행한 결과가 나오게 된다.
df.groupby(['color']).transform(np.mean)

,carat,depth,table,price,x,y,z,carat_mean
0,0.657867,61.662090,57.491201,3076.752475,5.411580,5.419029,3.340689,0.657867
1,0.657867,61.662090,57.491201,3076.752475,5.411580,5.419029,3.340689,0.657867
2,0.657867,61.662090,57.491201,3076.752475,5.411580,5.419029,3.340689,0.657867
3,1.026927,61.846385,57.577278,5091.874954,6.222826,6.222730,3.845411,1.026927
4,1.162137,61.887215,57.812393,5323.818020,6.519338,6.518105,4.033251,1.162137
...,...,...,...,...,...,...,...,...
53935,0.657795,61.698125,57.404590,3169.954096,5.417051,5.421128,3.342827,0.657795
53936,0.657795,61.698125,57.404590,3169.954096,5.417051,5.421128,3.342827,0.657795
53937,0.657795,61.698125,57.404590,3169.954096,5.417051,5.421128,3.342827,0.657795
53938,0.911799,61.836850,57.517811,4486.669196,5.983335,5.984815,3.695965,0.911799
53939,0.657795,61.698125,57.404590,3169.954096,5.417051,5.421128,3.342827,0.657795

In [43]:
# 이런식으로 agg 를 쓰게 된다면 data table 을 보여주고 끝이 난다.
df.groupby(['color']).agg(np.mean)

,carat,depth,table,price,x,y,z,carat_mean
color,,,,,,,,
D,0.657795,61.698125,57.404590,3169.954096,5.417051,5.421128,3.342827,0.657795
E,0.657867,61.662090,57.491201,3076.752475,5.411580,5.419029,3.340689,0.657867
F,0.736538,61.694582,57.433536,3724.886397,5.614961,5.619456,3.464446,0.736538
G,0.771190,61.757111,57.288629,3999.135671,5.677543,5.680192,3.505021,0.771190
H,0.911799,61.836850,57.517811,4486.669196,5.983335,5.984815,3.695965,0.911799
I,1.026927,61.846385,57.577278,5091.874954,6.222826,6.222730,3.845411,1.026927
J,1.162137,61.887215,57.812393,5323.818020,6.519338,6.518105,4.033251,1.162137

## 현재값 - 이전값 을 이용해 변화량 넣기

- 주로 시계열 데이터에서 자주 이루어지는 연산이다.
- index 가 시간적 의미를 가지고 있다면, 이전 데이터 - 이후 데이터 = 변화량 이므로 이를 이용해 유의미한 정보를 이끌어 낼 수 있다.

In [12]:
df = diamonds.copy()
df

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

In [13]:
# 아래와 같이 shift 연산을 통해서 데이터 자체의 index 를 더하거나 뺼 수 있다. 
# 즉 index 가 커질수록 나중인 시계열 데이터 특성상 shift(1) 은 이전 시점의 데이터를 앞으로 끌어온 것이다. 
df['diff_carat'] = df['carat'] - df['carat'].shift(1) # 오늘값 - 어제값 즉 carat 의 증가량이다.

In [14]:
# 이때 중요한것은, 필연적으로 위같은 연산시 nan 값이 나타난다는 것이다. 
# 시간을 이용해 연산하기 떄문에 어쩔 수 없이 나타나는 현상이다.
df

,carat,cut,color,clarity,depth,table,price,x,y,z,diff_carat
0,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,NaN
1,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,-0.02
2,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,0.02
3,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,0.06
4,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,0.02
...,...,...,...,...,...,...,...,...,...,...,...
53935,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50,0.00
53936,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61,0.00
53937,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56,-0.02
53938,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74,0.16
53939,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64,-0.11

In [17]:
df = df[1:] # 앞의 첫번째값은, 과거값이 없어서 nan 값이 나온다. 즉 없애줌 
df.reset_index(drop = True,inplace=True) # index 를 초기화해 준다.

In [18]:
df

,carat,cut,color,clarity,depth,table,price,x,y,z,diff_carat
0,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,0.02
1,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,0.06
2,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,0.02
3,0.24,Very Good,J,VVS2,62.8,57.0,336,3.94,3.96,2.48,-0.07
4,0.24,Very Good,I,VVS1,62.3,57.0,336,3.95,3.98,2.47,0.00
...,...,...,...,...,...,...,...,...,...,...,...
53933,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50,0.00
53934,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61,0.00
53935,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56,-0.02
53936,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74,0.16
53937,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64,-0.11