# 정규식

- 공부하면서 자주 맡딱뜨리게 되는 정규식의 예제를 정리해 보았습니다.

In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('./Data/법정동코드 전체자료.txt', sep='\t', encoding='cp949')
df.head()

        법정동코드           법정동명 폐지여부
0  1100000000          서울특별시   존재
1  1111000000      서울특별시 종로구   존재
2  1111010100  서울특별시 종로구 청운동   존재
3  1111010200  서울특별시 종로구 신교동   존재
4  1111010300  서울특별시 종로구 궁정동   존재

# 특정 단어로 끝나는 단어 추출

In [28]:
df['법정동명'].head(n=10)

0            서울특별시
1        서울특별시 종로구
2    서울특별시 종로구 청운동
3    서울특별시 종로구 신교동
4    서울특별시 종로구 궁정동
5    서울특별시 종로구 효자동
6    서울특별시 종로구 창성동
7    서울특별시 종로구 통의동
8    서울특별시 종로구 적선동
9    서울특별시 종로구 통인동
Name: 법정동명, dtype: object

In [66]:
df['법정동명'].str.extract('(\s+\w+동)') # 띄어쓰기 
# \s+ : space 가 1개이상인 경우
# w* : 글자(w) 이 1개 이상인 경우
# 구 : 마지막이 구로 끝나는 글자

          0
0       NaN
1       NaN
2       청운동
3       신교동
4       궁정동
...     ...
46175   NaN
46176   NaN
46177   NaN
46178   NaN
46179   NaN

[46180 rows x 1 columns]

# 예외사항 집어넣기

- 어떤 사항은 '제외' 하고 식을 짜고 싶을 수 있다. 
- 그런 경우에 아래처럼 replace 로 없앤 문자열을 가지고 수행할 수 있다.

In [77]:
# 아래와 같이 청운동, 궁정동의 경우 '' 으로 replace 한 상태에서 추출하였다.
# 그러면 예외사항으로 청운동, 궁정동의 경우를 제외한 extraction 이 된다.
df['법정동명'].str.replace('청운동|궁정동','',regex = True).str.extract('(\s+\w+동)')

          0
0       NaN
1       NaN
2       NaN
3       신교동
4       NaN
...     ...
46175   NaN
46176   NaN
46177   NaN
46178   NaN
46179   NaN

[46180 rows x 1 columns]