In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

titanic = sns.load_dataset('titanic')
titanic.columns=titanic.columns.str.capitalize()
df = titanic.copy()

# X 중 겹치는 feature 제거

In [ ]:
# Remove any duplicated column names
X = X[:,~all_features.columns.duplicated()]

# Data 중 겹치는 data 제거

- 고유한 id 가 같으면 제거해준다. (학번, 주민번호 등)

# colunm 의 값을 shift 하기.

In [7]:
df['Age']

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64

In [8]:
df['Age'].shift(1)

0       NaN
1      22.0
2      38.0
3      26.0
4      35.0
       ...
886    39.0
887    27.0
888    19.0
889     NaN
890    26.0
Name: Age, Length: 891, dtype: float64