In [29]:
# ë°ì´í„° ë§Œë“¤ê¸°
from patsy import demo_data
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns
from io import StringIO

csv_data = StringIO("""
x1,x2,x3,x4,x5
1,0.1,"1",2019-01-01,A
2,,,2019-01-02,B
3,,"3",2019-01-03,C
,0.4,"4",2019-01-04,A
5,0.5,"5",2019-01-05,B
,,,2019-01-06,C
7,0.7,"7",,A
8,0.8,"8",2019-01-08,B
9,0.9,,2019-01-09,C
""")

df = pd.DataFrame(demo_data("x1", "x2", "x3", "x4", "x5"))
df

         x1        x2        x3        x4        x5
0  1.764052 -0.977278  0.144044  0.333674 -2.552990
1  0.400157  0.950088  1.454274  1.494079  0.653619
2  0.978738 -0.151357  0.761038 -0.205158  0.864436
3  2.240893 -0.103219  0.121675  0.313068 -0.742165
4  1.867558  0.410599  0.443863 -0.854096  2.269755

ë°ì´í„° ë¶„ì„ì„ ì‹œì‘í•  ë•ŒëŠ” ë‹¤ì–‘í•œ ë°ì´í„°ë¥¼ í•˜ë‚˜ì˜ ë°ì´í„°í”„ë ˆì„ì— ë„£ê³  ì‹œì‘í•˜ëŠ” ê²½ìš°ê°€ ë§ë‹¤.  patsy íŒ¨í‚¤ì§€ê°€ ì œê³µí•˜ëŠ” `dmatrx()` í•¨ìˆ˜ë¥¼ ì‚¬ìš©í•˜ë©´ ë°ì´í„° í”„ë ˆì„ì— ìƒìˆ˜í•­ì„ ì¶”ê°€í•˜ê±°ë‚˜ ì›í•˜ëŠ” ë°ì´í„°ë§Œ ì„ íƒí•˜ê±°ë‚˜ ë³€í˜•í•  ìˆ˜ ìˆë‹¤. `dmatrx()` í•¨ìˆ˜ì— ëª¨í˜• ì •ì˜ ë¬¸ìì—´ `formula`ì™€ ì› ë°ì´í„°ë¥¼ ë‹´ì€ ë°ì´í„°í”„ë ˆì„ dataì„ ì…ë ¥í•˜ë©´ `formula`ì—ì„œ ì§€ì •í•œ ëŒ€ë¡œ ë³€í™˜ëœ ë°ì´í„° data_transformedë¥¼ ì¶œë ¥í•œë‹¤.

```
data_transformed = dmatrix(formula, data)
```

formulaëŠ” ë°ì´í„° ì—´ ì´ë¦„ ê¸°ë°˜ìœ¼ë¡œ êµ¬ì„±ëœ ë¬¸ìì—´ì´ë‹¤. ì„ íƒí•˜ê³ ì í•˜ëŠ” ë°ì´í„° ì—´ ì´ë¦„ì„ `+`ë¡œ ì—°ê²°í•œ formula ë¬¸ìì—´ì„ ì…ë ¤í•˜ë©´ ìë™ìœ¼ë¡œ í•´ë‹¹ ë°ì´í„°ë§Œ ë½‘ì•„ì¤€ë‹¤. ì˜ˆë¥¼ ë“¤ì–´ ì „ì²´ ë°ì´í„° ì¤‘ x1ë§Œì„ ë½‘ê³  ì‹¶ìœ¼ë©´ formula ë¬¸ìì—´ì— `x1 + 0`ì´ë¼ê³  ì…ë ¥í•œë‹¤.

# ì›í•˜ëŠ” colë§Œ ì„ íƒí•˜ê¸°

In [2]:
from patsy import dmatrix 

x = dmatrix("x1 -1 ", data=df)
x

DesignMatrix with shape (5, 1)
       x1
  1.76405
  0.40016
  0.97874
  2.24089
  1.86756
  Terms:
    'x1' (column 0)

ì „ì²´ ë°ì´í„° ì¤‘ x1, x2, x3ë¥¼ ë½‘ê³  ì‹¶ìœ¼ë©´ formula ë¬¸ìì—´ì— `x1 + x2 + x3 - 1`ì´ë¼ê³  ì…ë ¥í•œë‹¤.

In [3]:
dmatrix("x1 + x2 + x3 - 1", data=df,return_type="dataframe")
# return_type="dataframe" ì„ ë„£ìŒìœ¼ë¡œì„œ matrix ê°€ ì•„ë‹Œ df ìœ¼ë¡œ ë§Œë“¤ìˆ˜ë„ ìˆë‹¤.
# í•˜ì§€ë§Œ desgnmatrix ë¥¼ ë§Œë“œëŠ”ê±°ë¼ matrix multplication ì„ í•˜ëŠ” ê²½ìš°ê°€ ìƒê²¨ì„œ ì¶”ì²œí•˜ì§€ëŠ” ì•ŠëŠ”ë‹¤.

         x1        x2        x3
0  1.764052 -0.977278  0.144044
1  0.400157  0.950088  1.454274
2  0.978738 -0.151357  0.761038
3  2.240893 -0.103219  0.121675
4  1.867558  0.410599  0.443863

`- 1`ì€ 1ë¡œ êµ¬ì„±ëœ ìƒìˆ˜í•­ì„ ë„£ì§€ ë§ë¼ëŠ” ëœ»ì´ë‹¤.(+0 ë„ ê°™ì€ëœ») ë§Œì•½ ì´ ë¶€ë¶„ì´ ì—†ìœ¼ë©´ patsyëŠ” ìë™ìœ¼ë¡œ ê°€ì¥ ì•ì— Interceptë€ ì´ë¦„ì˜ ìƒìˆ˜í•­ ë°ì´í„°ë¥¼ ì¶”ê°€í•œë‹¤.

# intercept í•­ ì¶”ê°€í•˜ê¸°

In [4]:
dmatrix("x1 + x2 + x3", data=df)

DesignMatrix with shape (5, 4)
  Intercept       x1        x2       x3
          1  1.76405  -0.97728  0.14404
          1  0.40016   0.95009  1.45427
          1  0.97874  -0.15136  0.76104
          1  2.24089  -0.10322  0.12168
          1  1.86756   0.41060  0.44386
  Terms:
    'Intercept' (column 0)
    'x1' (column 1)
    'x2' (column 2)
    'x3' (column 3)

`dmatrix()` í•¨ìˆ˜ëŠ” ë³€ìˆ˜ë¥¼ ì–´ë–¤ í•¨ìˆ˜ì— ë„£ì–´ì„œ ë‹¤ë¥¸ ê°’ìœ¼ë¡œ ë§Œë“œëŠ” ìˆ˜í•™ ë³€í™˜(transform)ë„ ê°€ëŠ¥í•˜ë‹¤.

 # colì„ ìˆ˜í•™ì—°ì‚°ìœ¼ë¡œ ë³€í™˜ì‹œí‚¤ê¸°

In [5]:
dmatrix("x1 + np.log(np.abs(x2))", df)

DesignMatrix with shape (5, 3)
  Intercept       x1  np.log(np.abs(x2))
          1  1.76405            -0.02298
          1  0.40016            -0.05120
          1  0.97874            -1.88811
          1  2.24089            -2.27090
          1  1.86756            -0.89014
  Terms:
    'Intercept' (column 0)
    'x1' (column 1)
    'np.log(np.abs(x2))' (column 2)

numpy í•¨ìˆ˜ ë¿ ì•„ë‹ˆë¼ ì‚¬ìš©ì ì •ì˜ í•¨ìˆ˜ë„ ì‚¬ìš©í•  ìˆ˜ ìˆë‹¤.

In [6]:
def ten_times(x):
    return 10 * x

dmatrix("ten_times(x1)", df)

DesignMatrix with shape (5, 2)
  Intercept  ten_times(x1)
          1       17.64052
          1        4.00157
          1        9.78738
          1       22.40893
          1       18.67558
  Terms:
    'Intercept' (column 0)
    'ten_times(x1)' (column 1)

# ê¸°ì¡´ì˜ colì„ ì¡°í•©í•´ì„œ ìƒˆë¡œìš´ ë°ì´í„° ë§Œë“¤ê¸°

ê¸°ì¡´ì˜ ë°ì´í„°ë¥¼ ì¡°í•© ì—°ì‚°í•˜ì—¬ ìƒˆë¡œìš´ ë°ì´í„°ë¥¼ ë§Œë“œëŠ” ê²ƒë„ ê°€ëŠ¥í•˜ë‹¤. íŠ¹íˆ ë‘ ë³€ìˆ˜ë¥¼ ê³±í•´ì„œ ë§Œë“¤ì–´ì§€ëŠ” ìƒˆë¡œìš´ ë³€ìˆ˜ë¥¼ **ìƒí˜¸ì‘ìš©(interaction)**ì´ë¼ê³  í•œë‹¤. ìƒí˜¸ì‘ìš©ì€ `:` ê¸°í˜¸ë¥¼ ì‚¬ìš©í•˜ì—¬ ë§Œë“¤ì–´ì§„ë‹¤.

In [7]:
dmatrix("x1 + x2 + x1:x2 + 0", df)

DesignMatrix with shape (5, 3)
       x1        x2     x1:x2
  1.76405  -0.97728  -1.72397
  0.40016   0.95009   0.38018
  0.97874  -0.15136  -0.14814
  2.24089  -0.10322  -0.23130
  1.86756   0.41060   0.76682
  Terms:
    'x1' (column 0)
    'x2' (column 1)
    'x1:x2' (column 2)

ë‘ ë³€ìˆ˜ì™€ ìƒí˜¸ì‘ìš©ì„ í•œêº¼ë²ˆì— í‘œì‹œí•  ë•ŒëŠ” `*`ë¥¼ ì‚¬ìš©í•œë‹¤

In [8]:
dmatrix("x1 * x2 * x3 - 1 ", df)

DesignMatrix with shape (5, 7)
       x1        x2     x1:x2       x3    x1:x3     x2:x3  x1:x2:x3
  1.76405  -0.97728  -1.72397  0.14404  0.25410  -0.14077  -0.24833
  0.40016   0.95009   0.38018  1.45427  0.58194   1.38169   0.55289
  0.97874  -0.15136  -0.14814  0.76104  0.74486  -0.11519  -0.11274
  2.24089  -0.10322  -0.23130  0.12168  0.27266  -0.01256  -0.02814
  1.86756   0.41060   0.76682  0.44386  0.82894   0.18225   0.34036
  Terms:
    'x1' (column 0)
    'x2' (column 1)
    'x1:x2' (column 2)
    'x3' (column 3)
    'x1:x3' (column 4)
    'x2:x3' (column 5)
    'x1:x2:x3' (column 6)

ìƒí˜¸ì‘ìš©ì„ ì œì™¸í•œ  ê²½ìš°ì—ëŠ” `I()`ë¼ëŠ” ì—°ì‚°ìë¥¼ ì‚¬ìš©í•˜ì—¬ ì—°ì‚°ê³¼ì •ì„ ëª…ì‹œí•´ì•¼ í•œë‹¤. ì˜ˆë¥¼ ë“¤ì–´ ë‘ ë³€ìˆ˜ x1ê³¼ x2ë¥¼ ë”í•˜ì—¬ ìƒˆë¡œìš´ ë°ì´í„°ë¥¼ ë§Œë“¤ê³  ì‹¶ë‹¤ë©´ ë‹¤ìŒê³¼ ê°™ì´ í•œë‹¤.

In [9]:
dmatrix("x1 + x2 + I(x1 + x2) + 0", df,return_type="dataframe")
# ëŒ€ë¬¸ì i

         x1        x2  I(x1 + x2)
0  1.764052 -0.977278    0.786774
1  0.400157  0.950088    1.350246
2  0.978738 -0.151357    0.827381
3  2.240893 -0.103219    2.137674
4  1.867558  0.410599    2.278156

# í‰ê·  0 ìœ¼ë¡œ ë§Œë“œëŠ” ìŠ¤ì¼€ì¼ë§í•˜ê¸°

ì„ í˜•íšŒê·€ë¶„ì„ì„ í•  ë•ŒëŠ” ì¡°ê±´ìˆ˜(condition number)ì˜ ì˜í–¥ë•Œë¬¸ì— ë°ì´í„°ì˜ í‰ê· ì„ 0ìœ¼ë¡œ í‘œì¤€í¸ì°¨ë¥¼ 1ë¡œ ë§Œë“œëŠ” **ìŠ¤ì¼€ì¼ë§(scaling)** ì‘ì—…ì„ í•˜ëŠ” ê²ƒì´ ë¶„ì„ ê²°ê³¼ì˜ í’ˆì§ˆì„ ë†’ì¼ ìˆ˜ ìˆë‹¤.

In [10]:
dmatrix("I(x1-np.mean(x1))-1",df)

DesignMatrix with shape (5, 1)
  I(x1 - np.mean(x1))
              0.31377
             -1.05012
             -0.47154
              0.79061
              0.41728
  Terms:
    'I(x1 - np.mean(x1))' (column 0)

# train set ì˜ scaling ì„¤ì • ê·¸ëŒ€ë¡œ test setì— ì ìš©í•˜ê¸°

In [11]:
from sklearn.datasets import load_iris
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.metrics import accuracy_score

# ë¶“ê½ƒ ë°ì´í„° ì„¸íŠ¸ë¥¼ ë¡œë”©í•©ë‹ˆë‹¤.
iris = load_iris()
iris_data = iris.data
iris_label = iris.target
# ë°ì´í„°ë¥¼ train set ê³¼ test set ìœ¼ë¡œ ë‚˜ëˆ•ë‹ˆë‹¤.
X_train, X_test, y_train, y_test = train_test_split(iris_data, iris_label,
                                                    test_size=0.2, random_state=2)

In [12]:
#MinMaxScaler() Scalerê°ì²´ ìƒì„±.
scaler = MinMaxScaler()
# í•™ìŠµ ë°ì´í„°ì— ëŒ€í•´ì„œ fit(), transform() ìˆ˜í–‰.
scaler.fit(X_train)
scaled_X_train = scaler.transform(X_train)
# ê·¸ëƒ¥ fit()ë§Œ ì“°ë©´ ì •ê·œí™” ì¦‰, í†µê³„ì—ì„œ ì •ê·œë¶„í¬ë¥¼ ë§Œë“¤ê²Œ í•˜ê¸° ìœ„í•´ì„œ ğ‘¥ ê°’ì—ì„œ í‰ê· ì„ ë¹¼ê³  ê·¸ ê°’ì„ ë‹¤ì‹œ í‘œì¤€í¸ì°¨ë¡œ ë‚˜ëˆ„ì–´ì£¼ëŠ” ì‘ì—…

In [13]:
# í…ŒìŠ¤íŠ¸ ë°ì´í„°ì—ì„œëŠ” ë‹¤ì‹œ fit(), transform()ì´ë‚˜ fit_transform()ì„ ìˆ˜í–‰í•˜ì§€ ì•Šê³  transformë§Œ ìˆ˜í–‰.
scaled_X_test = scaler.transform(X_test)
# ê·¸ë˜ì•¼ train data ì—ì„œ ì“´ scaling ì„ ê·¸ëŒ€ë¡œ ì“´ë‹¤.

In [14]:
lr = LogisticRegression()
lr.fit(scaled_X_train, y_train)
pred = lr.predict(scaled_X_test)
print('ì˜ˆì¸¡ ì •í™•ë„: {0:.4f}'.format(accuracy_score(y_test,pred)))

ì˜ˆì¸¡ ì •í™•ë„: 0.9000

C:\Users\Han\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Han\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

fit_transform()ì„ fit() ê³¼ transform() í•¨ê»˜ ìˆ˜í–‰í•˜ëŠ” ë©”ì†Œë“œ ì…ë‹ˆë‹¤. ê¸°ì¡´ì˜ fit() ê³¼ transform() ê°ê°ì„ ìˆ˜í–‰í•˜ëŠ” ë²ˆê±°ë¡œì›€ì„ ì¤„ì—¬ì¤ë‹ˆë‹¤.  ìœ„ ì½”ë“œë¥¼ ì˜ˆë¡œ ë“¤ë©´

scaler.fit(X_train)

scaled_X_train = scaler.transform(X_train)ì€

=> scaled_X_train = scaler.fit_transform(X_train) ê³¼ ê°™ì´ í•œ ë¼ì¸ìœ¼ë¡œ ëŒ€ì²´ ë  ìˆ˜ ìˆìŠµë‹ˆë‹¤. 

í•˜ì§€ë§Œ í…ŒìŠ¤íŠ¸ ë°ì´í„°ì— scaled_X_test = scaler.fit_transform(X_test)ë¥¼ ì ìš©í•´ì„œëŠ” ì•ˆë©ë‹ˆë‹¤. ì´ë¥¼ ìˆ˜í–‰í•˜ë©´ scaler ê°ì²´ê°€

ê¸°ì¡´ì— í•™ìŠµ ë°ì´í„°ì— fit í–ˆë˜ ê¸°ì¤€ì„ ëª¨ë‘ ë¬´ì‹œí•˜ê³  ë‹¤ì‹œ í…ŒìŠ¤íŠ¸ ë°ì´í„°ë¥¼ ê¸°ë°˜ìœ¼ë¡œ ê¸°ì¤€ì„ ì ìš©í•˜ê¸° ë•Œë¬¸ì…ë‹ˆë‹¤. 

ë•Œë¬¸ì— í…ŒìŠ¤íŠ¸ ë°ì´í„°ì— fit_transform()ì„ ì ìš©í•´ì„œëŠ” ì•ˆë©ë‹ˆë‹¤.

ì´ëŸ° ë²ˆê±°ë¡œì›€ì„ í”¼í•˜ê¸° ìœ„í•´ í•™ìŠµê³¼ í…ŒìŠ¤íŠ¸ ë°ì´í„°ë¡œ ë‚˜ëˆ„ê¸° ì „ì— ë¨¼ì € Scalingë“±ì˜ ë°ì´í„° ì „ì²˜ë¦¬ë¥¼ í•´ì£¼ëŠ” ê²ƒì´ ì¢‹ìŠµë‹ˆë‹¤. ì•„ë˜ ì½”ë“œì—

ì„œëŠ” í•™ìŠµê³¼ í…ŒìŠ¤íŠ¸ ë°ì´í„°ë¡œ ë‚˜ëˆ„ê¸° ì „ì— Scalingì„ ì ìš©í•©ë‹ˆë‹¤. fit(), transform()ì„ ìˆœì°¨ì ìœ¼ë¡œ ì¨ë„ ì¢‹ê³  fit_transform()ìœ¼ë¡œ ë³€í™˜

í•´ë„ ë¬´ë°©í•©ë‹ˆë‹¤.

# scaling ì„ ì „ì²´ ë°ì´í„°ì— ëŒ€í•´ ë¨¼ì € í•´ë²„ë¦¬ê¸°

In [15]:
from sklearn.datasets import load_iris
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.metrics import accuracy_score

# ë¶“ê½ƒ ë°ì´í„° ì„¸íŠ¸ë¥¼ ë¡œë”©í•©ë‹ˆë‹¤.
iris = load_iris()
iris_data = iris.data
iris_label = iris.target

# MinMaxScaler() Scalerê°ì²´ ìƒì„±.
scaler = MinMaxScaler()
# í•™ìŠµ ë°ì´í„°, í…ŒìŠ¤íŠ¸ ë°ì´í„°ë¡œ ë‚˜ëˆ„ê¸° ì „ì— fitê³¼ transform ìœ¼ë¡œ ë³€í™˜. fit_transform() ë„ ë¬´ë°©. 
scaler.fit(iris.data)
scaled_iris_data = scaler.transform(iris.data)
#ì´ë ‡ê²Œ í•˜ë©´ ë¨¼ì € ì „ì²´ ë°ì´í„°ì— ëŒ€í•´ scaling í•˜ê²Œ ëœë‹¤.

# scaleëœ iris_dataë¡œ í•™ìŠµê³¼ í…ŒìŠ¤íŠ¸ ë°ì´í„°ë¥¼ ë‚˜ëˆ”.
X_train, X_test, y_train, y_test = train_test_split(scaled_iris_data, iris_label,
                                                    test_size=0.2, random_state=2)

lr = LogisticRegression()
lr.fit(scaled_X_train, y_train)
pred = lr.predict(scaled_X_test)
print('ì˜ˆì¸¡ ì •í™•ë„: {0:.4f}'.format(accuracy_score(y_test,pred)))

ì˜ˆì¸¡ ì •í™•ë„: 0.9000

C:\Users\Han\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Han\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

# standardize(): í‰ê· ì„ 0ìœ¼ë¡œí•˜ê³  í‘œì¤€í¸ì°¨ë¥¼ 1ë¡œ ìŠ¤ì¼€ì¼ë§

In [16]:
X = np.arange(-3,5).reshape(-1, 1)  
X

array([[-3],
       [-2],
       [-1],
       [ 0],
       [ 1],
       [ 2],
       [ 3],
       [ 4]])

In [17]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit_transform(X)

array([[-1.52752523],
       [-1.09108945],
       [-0.65465367],
       [-0.21821789],
       [ 0.21821789],
       [ 0.65465367],
       [ 1.09108945],
       [ 1.52752523]])

í‰ê· ì„ ì œê±°í•˜ê³  ë°ì´í„°ë¥¼ ë‹¨ìœ„ ë¶„ì‚°ìœ¼ë¡œ ì¡°ì •í•œë‹¤. ê·¸ëŸ¬ë‚˜ ì´ìƒì¹˜ê°€ ìˆë‹¤ë©´ í‰ê· ê³¼ í‘œì¤€í¸ì°¨ì— ì˜í–¥ì„ ë¯¸ì³ ë³€í™˜ëœ ë°ì´í„°ì˜ êµ¬ì¡°ëŠ” ë§¤ìš° ë‹¬ë¼ì§€ê²Œ ëœë‹¤.
ë”°ë¼ì„œ ì´ìƒì¹˜ê°€ ìˆëŠ” ê²½ìš° ê· í˜• ì¡íŒ ì²™ë„ë¥¼ ë³´ì¥í•  ìˆ˜ ì—†ë‹¤.

# MinMaxScaler() : ê°’ì´ 0~1ì‚¬ì´ì— ìˆë„ë¡ ìŠ¤ì¼€ì¼ë§

ëª¨ë“  feature ê°’ì´ 0~1ì‚¬ì´ì— ìˆë„ë¡ ë°ì´í„°ë¥¼ ì¬ì¡°ì •í•œë‹¤. ë‹¤ë§Œ ì´ìƒì¹˜ê°€ ìˆëŠ” ê²½ìš° ë³€í™˜ëœ ê°’ì´ ë§¤ìš° ì¢ì€ ë²”ìœ„ë¡œ ì••ì¶•ë  ìˆ˜ ìˆë‹¤.

ì•„ì›ƒë¼ì´ì–´ì˜ ì¡´ì¬ì— ë§¤ìš° ë¯¼ê°í•˜ë‹¤.

In [18]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scaler.fit_transform(X)

array([[0.        ],
       [0.14285714],
       [0.28571429],
       [0.42857143],
       [0.57142857],
       [0.71428571],
       [0.85714286],
       [1.        ]])

# MaxAbsScaler() : ê°’ì´ -1 ~ 1 ì‚¬ì´ì— ìˆë„ë¡ ìŠ¤ì¼€ì¼ë§

ë‹¤ë§Œ ì´ìƒì¹˜ê°€ ìˆëŠ” ê²½ìš° ë³€í™˜ëœ ê°’ì´ ë§¤ìš° ì¢ì€ ë²”ìœ„ë¡œ ì••ì¶•ë  ìˆ˜ ìˆë‹¤.

ì¦‰, MinMaxScaler ì—­ì‹œ ì•„ì›ƒë¼ì´ì–´ì˜ ì¡´ì¬ì— ë§¤ìš° ë¯¼ê°í•˜ë‹¤.

In [19]:
from sklearn.preprocessing import MaxAbsScaler
scaler = MaxAbsScaler()
scaler.fit_transform(X)

array([[-0.75],
       [-0.5 ],
       [-0.25],
       [ 0.  ],
       [ 0.25],
       [ 0.5 ],
       [ 0.75],
       [ 1.  ]])

# RobustScaler : ì´ìƒì¹˜ì˜ ì˜í–¥ì„ ìµœì†Œí™”

ì´ ë•ŒëŠ” `RobustScaler` í´ë˜ìŠ¤ë¥¼ ì‚¬ìš©í•œë‹¤. ì´ í´ë˜ìŠ¤ëŠ” ì¤‘ì•™ê°’ì´ 0, IQR(interquartile range)ì´ 1ì´ ë˜ë„ë¡ ë³€í™˜í•˜ê¸° ë•Œë¬¸ì— ì•„ì›ƒë¼ì´ì–´ê°€ ì„ì—¬ ìˆì–´ë„ ëŒ€ë¶€ë¶„ì˜ ë°ì´í„°ëŠ” 0 ì£¼ìœ„ì— ë‚¨ì•„ìˆê²Œ ëœë‹¤.

IQR = Q3 - Q1 : ì¦‰, 25í¼ì„¼íƒ€ì¼ê³¼ 75í¼ì„¼íƒ€ì¼ì˜ ê°’

In [20]:
X2 = np.vstack([X,[[10],[14]]])

In [21]:
from sklearn.preprocessing import RobustScaler
scaler = RobustScaler()
scaler.fit_transform(X2)

array([[-1.        ],
       [-0.77777778],
       [-0.55555556],
       [-0.33333333],
       [-0.11111111],
       [ 0.11111111],
       [ 0.33333333],
       [ 0.55555556],
       [ 1.88888889],
       [ 2.77777778]])

# Binarizer : binary value ë¥¼ ê°€ì§€ê²Œ ë³€í™˜

In [28]:
from sklearn.preprocessing import Binarizer
scaler = Binarizer(threshold=2) # 2ë¥¼ ë„˜ìœ¼ë©´ 1/ë¯¸ë§Œì´ë©´0
scaler.fit_transform(X)

array([[0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1]])

# LabelEncoder : categorical dataë¥¼ value ë¡œ ë³€í™˜

In [88]:
titanic = sns.load_dataset("titanic")
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [89]:
from sklearn.preprocessing import LabelEncoder
Encoder = LabelEncoder()
titanic['class']=Encoder.fit_transform(titanic['class'])
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,2,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,0,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,2,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,0,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,2,man,True,NaN,Southampton,no,True

# OneHotEncoder : value ë¥¼ onehotencoder

ì´ sklearn ì˜ onehotencoder ì˜ ê²½ìš° ìˆ˜ì¹˜í˜•ë§Œ encding ì´ ê°€ëŠ¥í•´ì„œ, ë¨¼ì € label encoderë¥¼ í•´ì•¼í•œë‹¤.

In [117]:
from sklearn.preprocessing import OneHotEncoder
Encoder = OneHotEncoder() 
onehot = Encoder.fit_transform(titanic[['class']]).toarray() # toarray ë¡œ í•´ì•¼ ì˜ array ë¡œ ë³€í™˜ëœë‹¤.
pd.DataFrame(onehot,columns=['third','first','second']).head()

C:\Users\Han\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

   third  first  second
0    0.0    0.0     1.0
1    1.0    0.0     0.0
2    0.0    0.0     1.0
3    1.0    0.0     0.0
4    0.0    0.0     1.0

# OneHotEncode : pd.get_dummies ì´ìš©

In [121]:
pd.get_dummies(titanic['embark_town']) . head()

   Cherbourg  Queenstown  Southampton
0          0           0            1
1          1           0            0
2          0           0            1
3          0           0            1
4          0           0            1

# ê¸°ì¡´ì˜ col ì„ polynomial matrix ë¡œ ë³€í™˜í•˜ê¸°

preprocessing ì„œë¸ŒíŒ¨í‚¤ì§€ëŠ” ë°ì´í„° ë³€í™˜ì„ ìœ„í•œ `FunctionTransformer` í´ë˜ìŠ¤ì™€ `PolynomialFeatures` í´ë˜ìŠ¤ë„ ì œê³µí•œë‹¤.

`PolynomialFeatures` í´ë˜ìŠ¤ëŠ” ì…ë ¥ ë°ì´í„° $x$ë¥¼ ë‹¤ìŒê³¼ ê°™ì´ ì—¬ëŸ¬ê°œì˜ ë‹¤í•­ì‹ìœ¼ë¡œ ë³€í™˜í•œë‹¤.

$$ x \;\; \rightarrow \;\; [ 1, x, x^2, x^3, \cdots ] $$

ë‹¤ìŒê³¼ ê°™ì€ ì…ë ¥ ì¸ìˆ˜ë¥¼ ê°€ì§„ë‹¤.

* `degree` : ì°¨ìˆ˜
* `include_bias` : ìƒìˆ˜í•­ ìƒì„± ì—¬ë¶€

In [229]:
from sklearn.preprocessing import PolynomialFeatures

poly = PolynomialFeatures(degree=2)
poly.fit_transform(X)

array([[ 1., -3.,  9.],
       [ 1., -2.,  4.],
       [ 1., -1.,  1.],
       [ 1.,  0.,  0.],
       [ 1.,  1.,  1.],
       [ 1.,  2.,  4.],
       [ 1.,  3.,  9.],
       [ 1.,  4., 16.]])

# ê¸°ì¡´ì˜ col ì„ ì‚¬ìš©ì ì§€ì •í•¨ìˆ˜ matrix ë¡œ ë³€í™˜í•˜ê¸°

`FunctionTransformer` í´ë˜ìŠ¤ëŠ” ì‚¬ìš©ìê°€ ì§€ì •í•œ í•¨ìˆ˜ë¥¼ ì‚¬ìš©í•˜ì—¬ ì…ë ¥ê°’ $x$ë¥¼ ë³€í™˜í•œë‹¤.

$$ x \;\; \rightarrow \;\; [ f_1(x),  f_2(x),  f_3(x),  \cdots ] $$

ë°ì´í„° ë³€í™˜ì€ ë¹„ì„ í˜• íšŒê·€ë¶„ì„ì—ì„œ ì›í•˜ëŠ” ëª©í‘œê°’ì„ ë” ì˜ ì˜ˆì¸¡í•˜ê¸° ìœ„í•œ ìƒˆë¡œìš´ ë°ì´í„°ë¥¼ ë§Œë“¤ ë•Œ ì‚¬ìš©ëœë‹¤. ì˜ˆë¥¼ ë“¤ì–´ '360ë„'ì™€ ê°™ì€ ê°ë„ ë°ì´í„°ëŠ” ê·¸ ìì²´ë¡œ ì˜ˆì¸¡ë¬¸ì œì˜ ì…ë ¥ê°’ìœ¼ë¡œ ë„£ì„ ìˆ˜ ì—†ë‹¤. 0ë„ì™€ 360ë„, 10ë„ì™€ 370ë„ëŠ” ì‚¬ì‹¤ ê°™ì€ ê°ë„ì§€ë§Œ ë‹¤ë¥¸ ìˆ«ìë¡œ í‘œí˜„ë˜ê¸° ë•Œë¬¸ì´ë‹¤. ì´ ë•ŒëŠ” ê°ë„ $\theta$ë¥¼ ë‹¤ìŒê³¼ ê°™ì´ ì‚¼ê°í•¨ìˆ˜ê°’ì˜ ìŒìœ¼ë¡œ ë°”ê¾¸ë©´ ê°™ì€ ê°ë„ë¥¼ ê°™ì€ ìˆ«ììŒìœ¼ë¡œ í‘œí˜„í•  ìˆ˜ ìˆë‹¤.

$$ \theta \;\; \rightarrow \;\; (\sin\theta, \cos\theta) $$

ë‹¤ìŒ ì˜ˆì œ ì½”ë“œì—ì„œ ì›ë˜ ë°ì´í„° `X`ëŠ” ê°ë„ í‘œì‹œë¡œ ë˜ì–´ ìˆë‹¤.

In [230]:
X = 90 * np.arange(9).reshape(-1, 1) 
X

array([[  0],
       [ 90],
       [180],
       [270],
       [360],
       [450],
       [540],
       [630],
       [720]])

í•˜ì§€ë§Œ `X2`ëŠ” ì‚¼ê°í•¨ìˆ˜ë¡œ ë³€í™˜ë˜ì—ˆë‹¤. ê°ë„ 0ë„ì™€ ê°ë„ 360ë„ê°€ ëª¨ë‘ ê°™ì€ ê°’ì¸ (0,1)ë¡œ í‘œí˜„ëœ ê²ƒì„ í™•ì¸í•  ìˆ˜ ìˆë‹¤.

In [231]:
from sklearn.preprocessing import FunctionTransformer

def degree2sincos(X):
    x0 = np.sin(X * np.pi / 180)
    x1 = np.cos(X * np.pi / 180)
    X_new = np.hstack([x0, x1])
    return X_new

X2 = FunctionTransformer(degree2sincos).fit_transform(X)
X2

C:\Users\Han\Anaconda3\lib\site-packages\sklearn\preprocessing\_function_transformer.py:97: FutureWarning: The default validate=True will be replaced by validate=False in 0.22.
  "validate=False in 0.22.", FutureWarning)
C:\Users\Han\Anaconda3\lib\site-packages\sklearn\preprocessing\_function_transformer.py:97: FutureWarning: The default validate=True will be replaced by validate=False in 0.22.
  "validate=False in 0.22.", FutureWarning)

array([[ 0.0000000e+00,  1.0000000e+00],
       [ 1.0000000e+00,  6.1232340e-17],
       [ 1.2246468e-16, -1.0000000e+00],
       [-1.0000000e+00, -1.8369702e-16],
       [-2.4492936e-16,  1.0000000e+00],
       [ 1.0000000e+00,  3.0616170e-16],
       [ 3.6739404e-16, -1.0000000e+00],
       [-1.0000000e+00, -4.2862638e-16],
       [-4.8985872e-16,  1.0000000e+00]])